/ClientShutdown.class
/ErrorMessage.class
/KryoUtil$RegistrationState.class
/KryoUtil.class
/LoginRequest.class
/LoginResponse.class
/RegistrationRequest.class
/RegistrationResponse.class
/Request.class
/Response.class
